# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
ENV/
VENV/
*.env

# VSCode
.vscode/

# Streamlit
.streamlit/

# FastAPI/Google Auth
backend/token.json
backend/credentials.json

# OS files
.DS_Store
Thumbs.db

# Logs
*.log